You've been invited by #{@host.email} (#{@host.username}) to join a Killer Queen (http://killerqueenarcade.com) team for Killer Queen Chicago (#{root_url}).

Visit #{new_user_registration_url}, to sign up now!
