.large-3.columns.sidebar
  %ul
    %li= link_to "Sign In", new_user_session_path
    %li= link_to "Sign Up", new_user_registration_path
    %li= link_to "Calendar", calendar_path
    %li
      %a.twitter-follow-button{ "data-show-count" => "false", "data-size" => "large", href: "https://twitter.com/KQChicago" } @KQChicago
    %li
      %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", href: "https://twitter.com/LoganArcade"} @LoganArcade
    %li
      %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", href: "https://twitter.com/KillerQueenGame"} @KillerQueenGame
