%h2 About

%p This website started because like you, I was hooked on Killer Queen since the first time I played it. I wanted to create a place where people could create teams and organize tournaments for regular 5 on 5 Killer Queen action. This site aims to be the hub of all things Killer Queen in Chicago. Whether it's league play or just organizing a night out with a full game, this is the online home for Chicago Killer Queen players.

%h3 Teams

%p If you know of a team already registered, you can #{link_to "sign up", new_user_registration_path} and request to join that team. If you don't have a particular team but would like to join one, you may browse a list of teams and request to join any of them.

%p If you'd like to create a team, simply #{link_to "sign up", new_user_registration_path} and create one, then invite your friends to join via email.

%h3 Calendar

%p The calendar is a public #{link_to "Google calendar", "https://www.google.com/calendar/embed?src=killerqueenchicago%40gmail.com&ctz=America/Chicago", target: "_blank"} that you can subscribe to or view on the site #{link_to "here", calendar_path}. This calendar will be kept up to date with all Killer Queen events.

%h3 Contact

%p If you have any questions or comments, send an email to killerqueenchicago@gmail.com
