%h3 Event Calendar
%iframe{ frameborder: "0", height: "700px", scrolling: "no", src: "https://www.google.com/calendar/embed?src=killerqueenchicago%40gmail.com&ctz=America/Chicago", style: "border: 0", width: "100%"}

