!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Sorry, your request to join #{@team.name} has been rejected. Try #{link_to "joining", teams_join_url} another team.
